@font-face {
    font-family: Cooper;
    src: url(./CooperLtBTWXXLight.ttf);
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Cooper;
}
html,body{
   height: 100%;
   width: 100%;
}
#main{
    position: relative;
    min-height: 100vh;
    width: 100vw;
    background-color: #fff;
}
#nav{
    position: fixed;
    height: 11vh;
    width: 100vw;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: #fff;
}
#logo h1{
    font-size: 2.2vw;
    font-weight: 100;
}

/* ---------------Menubar open-------- */
/* ---------------Menubar open-------- */
/* ---------------Menubar open-------- */
#menubar{
    height: 10vw;
    width: 10vw;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2.5vw 0;
}
#menubar .mline{
    height: 2px;
    background-color: black;
    transition: .4s ease;
}
#menubar .mline:nth-child(1){
    width: 100%;
    
}
#menubar .mline:nth-child(2){
    width: 65%;
    transition: .2s ease-out;
}
#menubar .mline:nth-child(3){
    width: 50%;
}
#menubaropen{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    z-index: 990;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: top .6s ease;
}#menubaropen>.contact{
    padding: 1vw 2vw;

}
#menubaropen a{
    color: #000;
    text-decoration: none;
}
/* ---------------Menubar open-------- */
/* ---------------Menubar open-------- */
/* ---------------Services open-------- */
/* ---------------Services open-------- */
 #servicesopen{
    width: 100%;
    height: 260px;
    background-color: #fff;
    /* position: fixed; */
    position: fixed;
    top: 11vh;
    z-index: 9999;
    display: none;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #000;
    transition: opacity 1s ease ;
}
#servicesopen .sbox{
    height: 200px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
} 
#servicesopen .sbox a{
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    font-weight: 100;
    transition: border-bottom .2s ease ;
}
#servicesopen .sbox a:hover{
    border-bottom: 2px solid  #1EEB8F;
} 
/* -------------Nav -------- */
/* -------------Nav -------- */
/* -------------Nav -------- */
#navbars{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navbars a{
    text-decoration: none;
    outline: none;
    font-size: 1.1vw;
    font-family: sans-serif;
    font-weight: 100;
    color: #000;
}
#navbars a:hover {
    border-bottom: 2px solid  #1EEB8F;
}
#navbars a:nth-last-child(1):hover {
    border-bottom: 1px solid  #000;
}
.contact{
    border: 1px solid black;
    padding: 6px 22px;
    border-radius: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #000;
}
.contact img{
    height: 3vh;
    width: 40px;
    object-fit: cover;
    object-position: center;
    z-index: 2;
}/* this is icon arrow */

.greenslide{
    background-color: #1EEB8F;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-100%,0%);
    transition: .6s ease;
    z-index: 1;
}
.hg{
    background-color: #1EEB8F;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-100%,0%);
    transition: .6s ease;
}
.harawala{
    border: 1px solid black;
    padding: 6px 22px;
    border-radius: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;   
    text-decoration: none;
    color: #000;
    z-index: 1;

}
.harawala a{
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
}
.harawala img{
    height: 3vh;
    width: 40px;
    object-fit: cover;
    object-position: center;
    z-index: 2;
}
.harawala:hover .hg{
    transform: translate(0%);
    flex-shrink: 0;
    border-bottom: none;
    z-index: -1;
}
.contact:hover .greenslide{
    transform: translate(0%);
    flex-shrink: 0;
    border-bottom: none;
    z-index: -1;
}
/* -------------Page 11111111111 -------- */
/* -------------Page 11111111111 -------- */
/* -------------Page 11111111111 -------- */
#page1{
    position: relative;     
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#image1{
    width: 21vw;
    position: absolute;
    left: 6%;
    top: 24%;
    transition: margin 1s ease ;
}
#page1 img:hover {
    margin-top: -10px;
    padding: 0%;
}
#image2{
    width: 18vw;
    position: absolute;
    right: 24%;
    top: 15%;
    transition: margin 1s ease ;
}
#image3{
    width: 18vw;
    position: absolute;
    right: 7%;
    top: 53%;
    transition: margin 1s ease ;
}
#pg1text{
    width: 50%;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
    flex-direction: column;
}
.heading{
    font-size: 4.5vw;
    text-align: center;
    font-weight: 200;
    position: relative;
}
#pg1text h1::after{
    content: "";
    background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    width: 38%;
    height: 15px;
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%,0);
}
.subheading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 10px;
}
#pg1text>h2>.contact{
    padding: 6px 25px;
}
.contact img:hover .contact{
    padding: 10px 25px;
}
/* -------------Page 2222222222------------ */
/* -------------Page 2222222222------------ */
/* -------------Page 2222222222------------ */
#page2{
    width: 100vw;
    height: 63vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 30px;
}
#page2 h3>.greencircle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: springgreen;
    margin-right: 10px;
}
#page2 h3{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2 h1{
    width: 60%;
    text-align: center;
    font-size: 3.2vw;
    font-weight: 200;
}
.different{
    position: relative;
}
.different::after{
    content: "";
    background-image: url(https://thisisdigital.co.uk/dist/images/circle-green.svg);
    width: 13.7vw;
    height: 9vh;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);

}
#page2 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#page2>h2>.contact{
    border-color: #fff;
    z-index: 8;
}
#page2 h2>.contact img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(154deg) brightness(107%) contrast(101%);
}
/* -------------Page 333333333------------ */
/* -------------Page 333333333------------ */
/* -------------Page 333333333------------ */
#page3{
    width: 100vw;
    height: 110vh;
    display: flex;
}
#pg-three-left{
    width: 50vw;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#pg3image1{
    width: 11vw;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0%,0%);
}#pg3image2{
    width: 400px;
    height: 300px;
    position: absolute;
    left: 55%;
    top: 10%;
    transform: translate(-50%,-50%);
}#pg3image3{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 5%;
    top: 75%;
    transform: translate(-50%,-50%);
}#pg3image4{
    width: 37vw;
    position: absolute;
    right: 0%;
    /* bottom: 0%; */
    top: 33%;
    transform: translate(0%,0%);
}
#pg-three-right{
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 97px 40px 80px;
    gap: 50px;
}
#pg-three-right>.heading{
    text-align: start;
    font-size: 3.7vw;
}
#pg-three-right p{
    font-family: sequel sans;
    font-size: 1.2vw;
    line-height: 3vw;
    text-align: start;
}
#pg-three-right .pg3btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
#pg-three-right .pg3btn .pic{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1593085512500-5d55148d6f0d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2334&q=80);
    background-position: center;
    background-size: cover;
}
.underline{
    position: relative;
}
.underline::after{
    content: "";
    background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    width: 13vw;
    height: 2vh;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%,0%);

}
/* -------------Page 4444444444444------------ */
/* -------------Page 4444444444444------------ */
/* -------------Page 4444444444444------------ */
#page4{
    width: 100vw;
    height: 100vh;
    padding: 96px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#page4>.heading{
    font-size: 3.3vw;
    width: 60%;
}
#page4 h1>.different::after{
    width: 9.2vw;
    height: 10vh;
}
#page4 #companies{
    height: 600px;
    width: 80%;
    margin-top: 40px;
}
#companies img{
    width: 12vw;
    /* padding: 2vw 4vw; */
    margin: 50px 25px 60px;
}
/* -------------Page 5555555555------------ */
/* -------------Page 5555555555------------ */
/* -------------Page 5555555555------------ */
#page5{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#page5 #casestudy{
    width: 85%;
    height: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.card{
    height: 50vh;
    width: 48.5%;
    overflow: hidden;
    position: relative;
}
.card img{
    transform: scale(1);
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 1s ease;
}
.card #hey:hover{
    transform: scale(1.1);
}
#page5>.pg3btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.cspic{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1606293106610-a33e2650ea84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    background-size: cover;
    background-position: center;
}
.pg3btn .cspic>h3{
    font-size: 2rem;
}
.overflowcard>h1{
    font-size: 2rem;
    position: absolute;
    width: 95% ;
    margin: 0px 25px 0px;
    /* text-align: center; */
    padding: 0 10px;
    user-select: none;
    z-index: 99;
    bottom: 20%;
    color: #fff;
}
.card span{
    display: flex;
    position: absolute;
    z-index: 99;
    left: 0%;
    bottom: 6%;
    margin-top: 0px;
    align-items: center;
    font-size: 1.5vw;
    padding: 0px 40px;
    justify-content: flex-start;
    width: 100%;
    color: #fff;
    height: 50px;
    gap: 10px;
}
.card span .harawala{
    padding: 0px 14px;
    border-color: #fff;
}
.card span a>img{
    width: 2.4vw;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(154deg) brightness(107%) contrast(101%);
} 
.card #clogo{
    position: absolute;
    width: 12vw;
    height: 5vh;
    margin: 50px 25px 60px;
    z-index: 99;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(154deg) brightness(107%) contrast(101%);
}
.overflowcard{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(3, 3, 3, 0.173);
}
.card:hover .hg{
    transform: translate(0);
}
/* -------------Page 6666666666------------ */
/* -------------Page 6666666666------------ */
#page6{
    width: 100%;
    /* background-color: blue; */
}
.swiper {
    width: 100%;
    background-color: #1EEB8F;
    height: 100%;
  }
/* .swiper-wrapper{
    background-color: blue;
} */
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(85, 58, 58);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* -------------Page 777777777------------ */
/* -------------Page 777777777------------ */
#page7{
    position: relative;
    height: 130vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.p7top{
    height: 30%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.webdetails{
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 45vh;
    width: 70%;
    background-image: url(https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);
    background-position: center;
    background-size: cover;
}
.webdetails>.overflowcard{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.overflowcard>.pg3btn{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    gap: 20px;
}
.overflowcard>.pg3btn>.pic{
    background-image: url(https://ik.imagekit.io/sheryians/3_-Jysh0bCc.png);
    background-position: top;
    background-size: cover;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.overflowcard>.pg3btn>.harawala{
    color: #fff;
    border-color: #fff;
}.overflowcard>.pg3btn>.harawala>a>img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(154deg) brightness(107%) contrast(101%);
}
.overflowcard>.pg3btn>.harawala>a{
    color: #fff;
    border-color: #fff;
}
.overflowcard>.pg3btn>h3{
    font-size: 1.3rem;
    color: #fff;
}
.webdetails .overflowcard>h1{
    width: 90%;
    margin-bottom: 70px;
    text-align: center;

}
.p7bottom{
    height:70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    flex-direction: column;
    padding: 0px 8vw;
}
.weblinks{
    width: 100%;
    padding: 1rem 0 7.7rem 0;
    display: flex;
    color: #fff;
}
.web1{
    width: 30vw;
    /* height: 100%; */
}
.web1 h1{
    width: 80%;
}
.web1>h2>.harawala{
    border-color: #fff;
}
.web1>h2>.harawala>a>img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(154deg) brightness(107%) contrast(101%);

}
.web2{
    width: 60vw;
    /* height: 100%; */
    display: flex;
    /* gap: 70px; */
    align-items: flex-start;
    justify-content: space-between;
    padding: 0rem 2rem;
}
.web2navlinks{
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: space-evenly;
}
.learn{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 70px;
}
.learn a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
}
.learn a:hover{
    border-bottom: 2px solid green;
    padding-bottom: 3px;

}
.web1>h1{
    font-size: 2.7rem;
    margin-bottom: 2rem;
}
.web1>h2{
    display: flex;
    gap: 20px;
    align-items: center;
}
.web1>h2>.contact{
    border-color: #fff;

}
.license{
    border-top: 1.4px solid rgb(255, 255, 255);
    width: 100%;
    display: flex;  
    padding: 2rem 2rem;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.license h2{
    font-size: 1.3rem;
    font-weight: 100;
}
.license p{
    font-size: .9rem;
    font-weight: 100;
}
.license i{
    font-size: 2vw;
}
.web3{
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}
.web3 img{
    width: 8vw;
}


/* -------------Responsiveeeeeeeeeeee------------ */
/* -------------Responsiveeeeeeeeeeee------------ */
/* -------------Responsiveeeeeeeeeeee------------ */
/* -------------Responsiveeeeeeeeeeee------------ */
@media (max-width: 500px) 
{
    #main{
        position: relative;
        min-height: 100vh;
        width: 100vw;
        background-color: #fff;
    }
    #nav{
        width: 100vw;
        position: fixed;
        height: 10vh;
        /* background-color: #1EEB8F; */
        justify-content: space-between;
        padding: 0 20px;
        /* background-color: #fff; */
    }
    #page1{
        overflow: hidden;
        position: relative;
    }
    #logo>h1{
        font-size: 7vw;
    }
    #navbars {
        display: none;
    }
    #menubar{
        display: flex;
    }
    #menubaropen{
        display: flex;
        top: 100%; 
    }
    #servicesopen{
        display: none;
    }
    #pg1text{
        background-color: fff;
        width: 100vw;
        max-height: 40vh;
        position: relative;
        left: 50%;
        top: 25%;
        transform: translate(-50%,-50%);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        z-index: 9;
    }
    .heading{
        font-size: 8vw;
        text-align: center;
        font-weight: 100;
        position: relative;
    }
    #pg1text h1::after{
        content: "";
        background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
        width: 35%;
        height: 10px;
        position: absolute;
        bottom: -8%;
        left: 50%;
        transform: translate(-50%,0);
    }

    .subheading{
        display: flex;
        font-size: 3.5vw;
        margin-top: -70px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        gap: 10px;
    }
    #pg1text h2>.contact{
        padding: 0px 10px;
    }
    #pg1text h2>.contact img{
        height: 6vw;
        width: 6vw;
        object-fit: cover;
        object-position: center;
    }
    .contact img:hover .contact{
        padding: 10px 25px;
    }
    #image1{
        display: flex;
        position: relative;
        width: 50vh;
        height: 50vh;
        left: 0%;
        top: 10%;
        transition: margin 1s ease ;
        z-index: 1;
    }
    #image2{
        display: none;
    }
    #image3{
        display: none;
    }
    /* #image3yo:hover{
        cursor: help;
    } */
    /* #page1 #image3:hover {
        cursor: none;
        margin-top: 0px;
        padding: 0%;
    } */
/* ---------------Page 2 Responsive----------- */
/* ---------------Page 2 Responsive----------- */
    #page2{
        width: 100vw;
        height: 55vh;
    }
    #page2 h3>.greencircle{
        height: 10px;
        width: 10px;
    }
    #page2 h3{
        font-weight: 100;
        font-size: 2.5vw;
    }
    #page2 h1{
        width: 80%;
        /* text-align: center; */
        font-size: 6.2vw;
        font-weight: 200;
    }   
    .different::after{
        width: 26vw;
        height: 5vh;
    }
    #page2 h2{
        font-size: 1rem;
    }
    /* ---------Page 3 Responsive--------- */
    #page3{
        width: 100vw;
        height: 110vh;
        display: flex;
        flex-direction: column;
    }
    #pg-three-left{
        width: 100vw;
        height: 60vh;
    }
    #pg3image1{
        width: 15vw;
        position: absolute;
        left: 0;
        top: 5%;
    }#pg3image2{
        width: 140px;
        height: 100px;
        left: 40%;
        top: 25%;
    }#pg3image3{
        width: 100px;
        height: 100px;
        position: absolute;
        left: 0%;
        top: 80%;
    }#pg3image4{
        width: 55vw;
        position: absolute;
        right: 25%;

    }
    #pg-three-right{
        width: 100vw;
        height: 50vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px 20px 10px 30px;
        gap: 30px;
    }
    #pg-three-right>.heading{
        font-size: 6.7vw;
        width: 80%;
        text-align: start;
    }
    #pg-three-right p{
        font-size: 3.7vw;
        line-height: 5vw;
        font-weight: 100;
        text-align: start;
    }
    #pg-three-right .pg3btn {
        gap: 10px;
    }
    #pg-three-right .pg3btn .pic{
        height: 35px;
        width: 35px;
    }
    .underline::after{
        width: 25vw;
        height: 1vh;
    }
    #pg-three-right .pg3btn h3{
        white-space: nowrap;
        font-size: .8rem;
    }
    .harawala a{
        font-size: .6rem;
        white-space: nowrap;
    }
    .contact{
        border: 1px solid #000;
        padding: 2px 8px;
    }
    .contact img{
        height: 3vh;
        width: 30px;
    }
    .harawala{
        border: 1px solid rgb(68, 64, 64);
        padding: 5px 17px;
    }
    .harawala img{
        height: 2vh;
        width: 25px;
    }
    /* -------------Page 4 Responsive---------- */
    /* -------------Page 4 Responsive---------- */
    #page4{
        width: 100vw;
        height: 100vh;
        padding: 50px 0px;
    }
    #page4>.heading{
        font-size: 6.3vw;
        width: 75%;
    }
    #page4 h1>.different::after{
        width: 18.2vw;
        height: 5vh;
    }
    #page4 #companies{
        height: 600px;
        width: 80%;
        margin-top: 20px;
    }
    #companies img{
        width: 30vw;
        /* padding: 2vw 4vw; */
        margin: 10px 20px 10px 10px;
    }
    /* -----------------Page 5 Responsive------ */
    /* -----------------Page 5 Responsive------ */
    #page5{
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
#page5 #casestudy{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.card{
    height: 40vh;
    width: 80%;
    overflow: hidden;
}
#page5>.pg3btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.cspic{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1606293106610-a33e2650ea84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    background-size: cover;
    background-position: center;
}
.overflowcard>h1{
    font-size: 1.4rem;
    margin: 25px 25px 0px 15px;
    padding: 0px 20px 0px 0px;
    line-height: 1.4rem;
}
.card span{
    bottom: 2%;
    font-size: 1rem;
    padding: 3px 15px;
}
.card span a>img{
    width: 9.4vw;
} 
.card #clogo{
    width: 25vw;
    height: 4vh;
    margin: 20px 25px 50px;
}
.card span .harawala{
    padding: 5px 12px;
    border-color: #fff;
}
/* --------------------Page 7777777777-------------- */
/* --------------------Page 7777777777-------------- */
/* --------------------Page 7777777777-------------- */




#page7{
    position: relative;
    height: 140vh;
    width: 100%;
    background-color: rgb(211, 211, 217);
}
.p7top{
    height: 30vh;
    width: 100%;
    /* background-color: rgb(176, 122, 45); */
}
.webdetails{
    color: #fff;
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 38vh;
    width: 85%;
    background-image: url(https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);
    background-position: center;
    background-size: cover;
}
.webdetails>.overflowcard{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.overflowcard>.pg3btn{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    gap: 10px;
}
.overflowcard>.pg3btn>.pic{
    background-image: url(https://ik.imagekit.io/sheryians/3_-Jysh0bCc.png);
    background-position: top;
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.overflowcard>.pg3btn>.harawala{
    color: #fff;
    border-color: #fff;
}.overflowcard>.pg3btn>.harawala>a>img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(154deg) brightness(107%) contrast(101%);
}
.overflowcard>.pg3btn>.harawala>a{
    color: #fff;
    border-color: #fff;
}
.overflowcard>.pg3btn>h3{
    font-size: 0.7rem;
    color: #fff;
}
.webdetails .overflowcard>h1{
    width: 70%;
    margin-bottom: 70px;
    line-height: 1.4rem;
    text-align: center;
    font-size: .9rem;
}
.p7bottom{
    height: 110vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0px 8vw;
}
.weblinks{
    width: 100%;
    height: 75vh;
    display: flex;
    gap: 30px;
    /* background-color: #8f9b96; */
    color: #fff;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
}
.web1{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: -50px;
    /* gap: 20px; */
}
.web2navlinks{
    display: flex;
    width: 100%;
    gap: 10px;
}
.web1>h1{
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: .02rem;
    width: 75%;
}
.web1>h2{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 1rem;
    color: #fff;
}
.web1>h2>a{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(154deg) brightness(107%) contrast(101%);
}
.web1>h1>.different::after{
    width: 37vw;
    height: 6vh;
    margin-right: 10px;
}
.web2{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 70px; */
    align-items: center;
    /* gap: 40px; */
    gap: 30px;
    justify-content: space-evenly;
}
.learn{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin-right: 30px;
    line-height: .4rem;
}
.learn h2{
    font-size: .8rem;
}
.learn a{
    white-space: nowrap;
    font-size: .8rem;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgb(124, 118, 118);
}
.learn a:hover{
    border-bottom: 2px solid green;
    padding-bottom: 3px;


}
.license{
    /* background-color: rgb(135, 74, 138); */
    border-top: 1.4px solid #000;
    width: 100%;
    /* height: 13vh; */
    display: flex;
    padding: 5vh 2vw;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.license h2{
    font-size: 1.7rem;
    display: none;
}
.license p{
    font-size: .6rem;
    font-weight: 100;
    width: 50%;
}
.license i{
    font-size: 6vw;
}
.web3{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    /* background-color: rgb(205, 103, 103); */
}
.web3 img{
    width: 22vw;
}



}
